@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap");
.star {
  color: #ff9933;
  cursor: pointer;
}

.pagebtn {
  background-color: white;
  border: 1px black solid;
  color: black;
}

.text-title {
  font-family: "Oswald", sans-serif !important;
  color: #000;
}

.search-text {
  color: white;
  position: absolute;
  bottom: -10px;
  font-size: 20px;
}
