@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap");
.star {
  color: #ff9933;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .col-grid {
    width: 20% !important;
  }
}
.pagebtn {
  background-color: white;
  border: 1px black solid;
}
.text-title {
  font-family: "Oswald", sans-serif !important;
  color: #0589f3;
}
