@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap");
.star {
  color: #ff9933;
  cursor: pointer;
}

.pagebtn {
  background-color: white;
  border: 1px black solid;
  color: black;
}

.text-title {
  font-family: "Oswald", sans-serif !important;
  color: #000;
  padding-top: 10px;
}

.title-img img {
  width: 100%;
  height: 250px;
  object-fit: fill;
  padding-top: 5px;
  padding-bottom: 10px;
}

.search-text {
  color: white;
  position: absolute;
  bottom: -10px;
  font-size: 20px;
}

.sort-modal {
  position: absolute;
  top: 62vh;
  right: 10vw;
  width: 170px;
  height: 150px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 10px;
}

.sort-modal .btn {
  border: none;
  color: #000;
}

.filter-brand-modal {
  position: absolute;
  top: 62vh;
  left: 26vw;
  width: 130px;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 10px;
}

.filter-brand-modal .btn {
  border: none;
  color: #000;
}

.filter-price-modal {
  position: absolute;
  top: 62vh;
  left: 15vw;
  width: 180px;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 10px;
}

.filter-price-modal .btn {
  border: none;
  color: #000;
}
