

.container_des {
    display: grid;
    grid-template-columns: auto;
    padding: 00px 0px 0px 0px;
    width: 1000px;
    margin: 5vh auto auto 30vh;
    padding-bottom: 20px;
    background-color: #E5E5E5 ;
}

.container_des > div {
    background-color: #C4C4C4;
    text-align: center;
    font-size:25px;
    padding: 10px;
    font-weight: bold;
}

.des {
    box-sizing: border-box;
    padding: 15px 50px;
    background-color:#E5E5E5;
    font-size: 18px;
}