
/* ------ Nút +(-) số lượng ------ */
.Num_Stepper{
  display: flex;
  width: 50px;
  border-style: solid;
}
.Num_Stepper .col-2{
  flex-basis: 31%;
  display: flex;
  flex-direction: column;
}
.Num_Stepper .col-2 #Plus,#Minus{
  height: 50%;
  width: 100%;
  background-color: #1DB8E0;
}


.Num_Stepper .col-2 #Plus{
  border-bottom-style: solid ;
}


.Num_Stepper .col-1{
  display: flex;
  justify-content: center;
  align-items: center;
  border-right-style: solid;
  flex-basis: 70%;
}
/* ------ Phần CartItem ------ */

.CartItem{
  width: 100%;
  border-style: solid;
  border-color: #BCC9CA;
  border-width: 2px;
  margin: auto;
}

.CartItem .row1{
  display:flex;
  font-size: 24px;
  min-height: 50px;
  border-bottom-style: solid;
  border-bottom-color: #BCC9CA;
  border-bottom-width: 2px;
}

.CartItem .row1 .col1{
  flex-basis: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.CartItem .row2{
  display: flex;
  font-size: 24px;
  margin: 10px 0;

}

.CartItem .row2 .col1{
  flex-basis: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.CartItem .row2 .col2{
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CartItem .row2 .col2 #delete_button{
  height: 49px;
  width: 109px;
  font-size: 24px;
  background-color: #EFEAEA;
  border-radius: 20px;
  border-style: hidden;
  transition: background 0.5s;
  cursor: pointer;
}

.CartItem .row2 .col2 #delete_button:hover{
  background: #7FEAEA;
}

.CartItem .row2 .col2 #delete_button:active{
  transform: translateY(1px);
}

.CartItem .row3{
  border-top-style: solid;
  border-top-color: #BCC9CA;
  border-top-width: 2px;
  display: flex;
  height: 60px;
}

.CartItem .row3 .group-1{
  flex-basis: 55%;
  display: flex;
  align-items: center;
}

.CartItem .row3 .group-1 input{
  height: 49px;
  font-size: 24px;
  margin-left: 15px;
  border-radius: 30px;
  border-style: hidden;
}

.CartItem .row3 .group-1 #button-1{
  background-color: #8DB8E0;
  transition: background 0.5s;
  cursor: pointer;
  padding: 0 20px;
}

.CartItem .row3 .group-1 #button-1:hover{
  background: #1DB8E0;
}

.CartItem .row3 .group-1 #button-1:active{
  transform: translateY(1px);
}

.CartItem .row3 .group-1 #button-2{
  background-color: #B9C2CB;
  transition: background 0.5s;
  cursor: pointer;
  padding: 0 20px;
}

.CartItem .row3 .group-1 #button-2:hover{
  background: #19C2CB;
}

.CartItem .row3 .group-1 #button-2:active{
  transform: translateY(1px);
}

.CartItem .row3 .group-2{
  flex-basis: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CartItem .row3 .group-2 input{
  height: 49px;
  margin-left: 15px;
  font-size: 24px;
}

.CartItem .row3 .group-2 #apply{
  padding: 0 25px;
  border-radius: 30px;
  border-style: hidden;
  background-color: #F3BC2D;
  transition: background 0.5s;
  cursor: pointer;
}

.CartItem .row3 .group-2 #apply:hover{
  background: #B0BC2D;
}

.CartItem .row3 .group-2 #apply:active{
  transform: translateY(1px);
}

.CartFooter{
  margin-top: 20px;
  padding-left: 65%;
  margin-bottom: 50px;
}

.CartFooter .content{
  max-width: 360px;
}

.CartFooter #text{
  font-size: 36px;
  font-weight: 600;
}

.CartFooter .row1{
  display: flex;
  font-size: 30px;
  padding: 30px 0;
}

.CartFooter .row1 .col1{
  flex-basis: 70%;
}

.CartFooter input{
  width: 80%;
  height: 50px;
  font-size: 24px;
  border-radius: 20px;
  background-color: #ffdd00;
  border-style: hidden;
  transition: background 0.5s;
  cursor: pointer;
  font-weight: 600;
}

.CartFooter input:hover{
  background: #f0c000;
}

.CartFooter input:active{
  transform: translateY(1px);
}

