*{
    cursor: default;
}

.pro_img {
    display: inline-block;
    margin: 10vh auto 10vh 10vh;
    width: 80vh;
    height: 80vh;
}

.pro_info{
    display: inline-block;
    padding-top: 5vh;
}

.pro_price {
    margin: 3vh auto;
    font-size: 1.7rem;
}

.pro_name {
    font-size: 2rem;
}

.color-quantity-section {
    font-size: 1.4rem;
    margin-top: 5vh ;
}


.color_btn {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}

.container-normal_btn {
    margin-top: 40px;
}

.normal_btn {
    width: 150px;
    height: 60px;
    margin-right: 40px;
    border-radius: 10px;
    color: #F8F8F8;
    background-color: #0589F3;
    border: none;
    outline: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.normal_btn:hover {
    background-color: #0075d4;
    box-shadow: 0px 15px 20px;
    transform: translateY(-5px);
  }

.pro_info {

    float: right;
    margin-right: 450px;
    margin-top: 50px;
}