
.info {
    display: inline-block;
    margin: 10vh 10vh 20vh 20vh;
    width: 35vw;
    height: 50vh;

}

.info h1 {
    font-size: 2rem;
}

.info p{
    width: 100%;
    font-size: 1rem;
    margin-bottom: 4vh;
    margin-top: 1vh;
}

.map {
    display: inline-block;
    width: 45%;
    height: 60vh;
    margin-top: 10vh;
}

.person-avartar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.person-info {
    display: inline-block;
    margin-top: 3vh;
    margin-right: 3vw;
}